@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
h1{
    font-family: "Yeseva One", serif;


}


body{
    font-family: "poppins", serif;
    transition: .2s;
}

a{
    list-style: none;
    text-decoration: none;
}
img{
    width: 100%;
    height: 100%;
}
span{
    color: rgb(255, 173, 90);
}

.container{
    padding: 2rem 10%;
}


.banner-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    
}

.banner-content h1{
    font-weight: 400;
    font-size: 60px;
    color: rgb(51, 51, 51);
    transition: .5s;
}
.banner-content p{
    font-size: 1.5rem;
    color: #999;
    padding: 1rem 0;
    line-height: 1.5;
}
.btn{
    width: 172px;
    height: 48px;
    font-size: 1rem;
    color: rgb(255, 255, 255);
    margin-bottom: 2rem;
    border-radius: .5rem;
    border: none;
    background: rgb(255, 89, 89);
}

.banner-content a{
    font-size: 1.5rem;
    color: #999;
    padding: 1rem 0;
   
}



.mission-title h1{
    font-weight: 700;
    font-size: 48px;
text-align: center;
}


.mission-card{
    display: flex;
    column-gap: 1rem;
    justify-content: center;
    align-items: center;
    padding: auto;
}
.card{
    width: 360px;
    height: 376px;
    margin-top: 5rem;
    padding: 1.5rem;
    border-radius: 26px;
    background: rgba(79, 157, 166, 0.1);
}
.card img{
    width: 126px;
    height: 126px;
}
.card h1{
    font-weight: 600;
    font-size: 24px;
    color: #000;
    margin-top: 1rem;
}
.card p{
    width: 315px;
    height: 101px;
    text-align: left;
    font-weight: 400;
    font-size: 1rem;
    color: rgb(66, 66, 66);
    line-height: 1.6rem;
    margin-top: 1rem;

}
#card-2{
    background: rgba(255, 89, 89, 0.1);
}
#card-3{
    background: rgb(255, 244, 214);
}